<div class="row">
    <ng-container *ngFor="let producto of productList">
    <div class="col-sm-4">

    <div class="card mb-3 content">
    <div class="row no-gutters">
        
      <div class="col-md-4">
        <img src="{{producto.image}}" width="80px"/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{producto.title}}</h5>
          <p class="card-text">{{producto.description}}</p>
          <h6>{{producto.price}}</h6>
          <button class="btn btn-primary">Agregar carrito</button>
        </div>
      </div>
    
    </div>

  </div>

</div> 
</ng-container></div> 
