<header>
<div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
        <i class="fas fa-shipping-fast" style="font-size: 35px;"></i>
        <strong style="font-size: 30px;">Ecommerce Angular</strong>
        <input placeholder="buscar">
        <button class="bt btn-primary">
            <i class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">2</div>
        </button>
    </div>
    <nav>
        <ul>
          <li><a routerLink="car" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
          <li><a routerLink="inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
        </ul>
      </nav>
</div>
</header>
<app-products></app-products>